<?xml version="1.0"?>
<config>
    <modules>
        <Payparts_Payment>
            <version>1.0.0.0</version>
        </Payparts_Payment>
    </modules>
    <global>
        <models>
            <payparts>
                <class>Payparts_Payment_Model</class>
                <resourceModel>payparts_resource</resourceModel>
            </payparts>
        </models>
        <blocks>
            <payparts>
                <class>Payparts_Payment_Block</class>
            </payparts>
        </blocks>
        <helpers>
            <payparts>
                <class>Payparts_Payment_Helper</class>
            </payparts>
        </helpers>
    </global>
    <frontend>
        <routers>
            <payparts>
                <use>standard</use>
                <args>
                    <module>Payparts_Payment</module>
                    <frontName>payparts</frontName>
                </args>
            </payparts>
        </routers>
        <translate>
            <modules>
                <Payparts_Payment>
                    <files>
                        <default>Payparts_Payment.csv</default>
                    </files>
                </Payparts_Payment>
            </modules>
        </translate>
        <layout>
            <updates>
                <payparts module="Payparts_Payment">
                    <file>payparts.xml</file>
                </payparts>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Payparts_Payment>
                    <files>
                        <default>Payparts_Payment.csv</default>
                    </files>
                </Payparts_Payment>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <payparts_payment>
                <model>payparts/method_payment</model>
                <active>1</active>
                <title>PayParts</title>
                <merchant_type>II</merchant_type>
                <validitytime>140</validitytime>
                <sort_order>0</sort_order>
                <available_period>2,3,4,5,6</available_period>
            </payparts_payment>
        </payment>
    </default>
</config>